<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans antialiased">

    <div class="min-h-screen bg-gray-100">
        <!-- navabr arriba -->
        {% include 'navbar.html' %}



        <!-- titulo del contenido  -->

       
        <div class="container max-w-7xl mx-auto sm:px-6 lg:px-8  pt-8 mx-auto">
            {% block content %}
            {% endblock %}
        </div>
    </div>	
        
</body>
</html>