<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento Facial</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">
    <!-- Contenedor principal -->
    <div class="container mx-auto p-4">
        <!-- Título del reconocimiento facial -->
        <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">
            Reconocimiento Facial
        </h1>

        <!-- Contenedor del feed de video -->
        <div class="flex justify-center">
            <img src="{% url 'face_recognition' %}" class="border-4 border-gray-500 rounded-lg shadow-lg">
        </div>
    </div>
</body>
</html>
